## Flight Price Prediction EDA and Feature Engineering

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df_train=pd.read_excel('Data_train.xlsx')

In [3]:
df_train.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
df_test=pd.read_excel('Test_set.xlsx')

In [5]:
df_test.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [6]:
#combining the datasets train and test
df=df_train.append(df_test)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [8]:
df.shape

(13354, 11)

In [9]:
#Features present in the data set
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

### Feature Engineering

In [10]:
#First we are handling is the date of journey
#We are creating three new features like day month and year

#1.Date of journey

df['Date']=df['Date_of_Journey'].str.split('/').str[0]
df['Month']=df['Date_of_Journey'].str.split('/').str[1]
df['Year']=df['Date_of_Journey'].str.split('/').str[2]

In [11]:
df['Date']=df['Date'].astype(int)
df['Month']=df['Month'].astype(int)
df['Year']=df['Year'].astype(int)

In [12]:
df.drop('Date_of_Journey',axis=1,inplace=True)
df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019

In [13]:
# 2.Arrival time 
df['Arrival_Time']=df['Arrival_Time'].str.split(' ').str[0]

#After remoing the date from the arrival time feature we need to
#create two more feature and split the arrivaltime feature to arrival hour and arrival minute

df['Arrival_hour']=df['Arrival_Time'].str.split(':').str[0]
df['Arrival_minute']=df['Arrival_Time'].str.split(':').str[1]

In [14]:
#changing the newly added data type to int

df['Arrival_hour']=df['Arrival_hour'].astype(int)
df['Arrival_minute']=df['Arrival_minute'].astype(int)

In [15]:
#Dropping the arrival time feature

df.drop('Arrival_Time',axis=1,inplace=True)

In [16]:
df.head()

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,19h,2 stops,No info,13882.0,9,6,2019,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Duration         13354 non-null  object
 6   Total_Stops      13353 non-null  object
 7   Additional_Info  13354 non-null  object
 8   Price            10683 non-null  float64
 9   Date             13354 non-null  int32
 10  Month            13354 non-null  int32
 11  Year             13354 non-null  int32
 12  Arrival_hour     13354 non-null  int32
 13  Arrival_minute   13354 non-null  int32
dtypes: float64(1), int32(5), object(8)
memory usage: 1.3+ MB

In [18]:
#3. Departure time featue
#Same steps that we done for arrival time feature

df['Dep_hour']=df['Dep_Time'].str.split(':').str[0];
df['Dep_minute']=df['Dep_Time'].str.split(':').str[1];

#Changing their data type to int

df['Dep_hour']=df['Dep_hour'].astype(int)
df['Dep_minute']=df['Dep_minute'].astype(int)

In [19]:
#dropping the dep_time feature
df.drop('Dep_Time',axis=1,inplace=True)
df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35,16,50

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13354 non-null  object
 5   Total_Stops      13353 non-null  object
 6   Additional_Info  13354 non-null  object
 7   Price            10683 non-null  float64
 8   Date             13354 non-null  int32
 9   Month            13354 non-null  int32
 10  Year             13354 non-null  int32
 11  Arrival_hour     13354 non-null  int32
 12  Arrival_minute   13354 non-null  int32
 13  Dep_hour         13354 non-null  int32
 14  Dep_minute       13354 non-null  int32
dtypes: float64(1), int32(7), object(7)
memory usage: 1.3+ MB

In [21]:
# 4. Number of stops feature

df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [22]:
#mapping the neccessary values from string to a number
df['Total_Stops']=df['Total_Stops'].map({
    'non-stop':0,
    '1 stop':1,
    '2 stops':2,
    '3 stops':3,
    '4 stops':4,
    'nan':1
})

In [23]:
#Removing the null values
df[df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,9,25,9,45

In [24]:
df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50

In [25]:
df[df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,9,25,9,45

In [26]:
df.drop(9039,axis=0,inplace=True)

In [27]:
df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 0
Duration              0
Total_Stops           0
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
Arrival_hour          0
Arrival_minute        0
Dep_hour              0
Dep_minute            0
dtype: int64

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13353 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13353 non-null  object
 1   Source           13353 non-null  object
 2   Destination      13353 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13353 non-null  object
 5   Total_Stops      13353 non-null  float64
 6   Additional_Info  13353 non-null  object
 7   Price            10682 non-null  float64
 8   Date             13353 non-null  int32
 9   Month            13353 non-null  int32
 10  Year             13353 non-null  int32
 11  Arrival_hour     13353 non-null  int32
 12  Arrival_minute   13353 non-null  int32
 13  Dep_hour         13353 non-null  int32
 14  Dep_minute       13353 non-null  int32
dtypes: float64(2), int32(7), object(6)
memory usage: 1.3+ MB

In [29]:
#Now handiling the duration feature
# we are spltting the hour and the minute

df['duration_hour']=df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [30]:
#There is only values like 5m so we can remove it
df[df['Duration']=='5m']

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_minute,Dep_hour,Dep_minute,duration_hour
6474,Air India,Mumbai,Hyderabad,BOM → GOI → PNQ → HYD,5m,2.0,No info,17327.0,6,3,2019,16,55,16,50,5m
2660,Air India,Mumbai,Hyderabad,BOM → GOI → PNQ → HYD,5m,2.0,No info,NaN,12,3,2019,16,55,16,50,5m

In [31]:
df.drop(6474,axis=0,inplace=True)
df.drop(2660,axis=0,inplace=True)

In [32]:
df['duration_hour']=df['duration_hour'].astype(int)

In [33]:
df['duration_hour']=df['duration_hour']*60

In [34]:
df['duration_hour'].head()

0     120
1     420
2    1140
3     300
4     240
Name: duration_hour, dtype: int32

In [35]:
#For minutes in duration
df['duration_min']=df['Duration'].str.split(' ').str[1].str.split('m').str[0]

In [36]:
#As there is no minute value for these values we are making it to zero
df[df['duration_min'].isnull()]=0

In [37]:
df['duration_min']=df['duration_min'].astype(int)

In [38]:
#Dropping the duration feature has we have split it into hours and minutes

df.drop('Duration',axis=1,inplace=True)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13350 entries, 0 to 2670
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13350 non-null  object
 1   Source           13350 non-null  object
 2   Destination      13350 non-null  object
 3   Route            13350 non-null  object
 4   Total_Stops      13350 non-null  float64
 5   Additional_Info  13350 non-null  object
 6   Price            10933 non-null  float64
 7   Date             13350 non-null  int32
 8   Month            13350 non-null  int32
 9   Year             13350 non-null  int32
 10  Arrival_hour     13350 non-null  int32
 11  Arrival_minute   13350 non-null  int32
 12  Dep_hour         13350 non-null  int32
 13  Dep_minute       13350 non-null  int32
 14  duration_hour    13350 non-null  int32
 15  duration_min     13350 non-null  int32
dtypes: float64(2), int32(9), object(5)
memory usage: 1.3+ MB

### Handling categorical features

In [40]:
# 1.Handling Airlines feature

from sklearn.preprocessing import LabelEncoder
one=LabelEncoder()

In [41]:
df['Airline']=df['Airline'].astype(str)
df['Source']=df['Source'].astype(str)
df['Destination']=df['Destination'].astype(str)
df['Additional_Info']=df['Additional_Info'].astype(str)

In [42]:
df['Airline']=one.fit_transform(df['Airline'])
df['Source']=one.fit_transform(df['Source'])
df['Destination']=one.fit_transform(df['Destination'])
df['Additional_Info']=one.fit_transform(df['Additional_Info'])

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13350 entries, 0 to 2670
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13350 non-null  int32
 1   Source           13350 non-null  int32
 2   Destination      13350 non-null  int32
 3   Route            13350 non-null  object
 4   Total_Stops      13350 non-null  float64
 5   Additional_Info  13350 non-null  int32
 6   Price            10933 non-null  float64
 7   Date             13350 non-null  int32
 8   Month            13350 non-null  int32
 9   Year             13350 non-null  int32
 10  Arrival_hour     13350 non-null  int32
 11  Arrival_minute   13350 non-null  int32
 12  Dep_hour         13350 non-null  int32
 13  Dep_minute       13350 non-null  int32
 14  duration_hour    13350 non-null  int32
 15  duration_min     13350 non-null  int32
dtypes: float64(2), int32(13), object(1)
memory usage: 1.1+ MB

In [45]:
df.drop('Route',axis=1,inplace=True)

### Splitting the dataset into train and test

In [46]:
df_test=df[df['Price'].isnull()]
df_train=df[~df['Price'].isnull()]

In [ ]:
##Using train test splitting

In [49]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df_train.drop('Price',axis=1),df_train['Price'],test_size=0.2,random_state=42)

## Building model using RandomForest

In [62]:
from sklearn.ensemble import RandomForestRegressor
reg_rf=RandomForestRegressor()
reg_rf.fit(x_train,y_train)
predictions=reg_rf.predict(x_test)

### Train Score

In [63]:
reg_rf.score(x_train,y_train)

0.9866465312337799

### Test Score

In [64]:
reg_rf.score(x_test,y_test)

0.9189951059373825